@charset "UTF-8";

body {
	width:1210px;	
}
nav {
    width:300px;
    height:900px;
    background:yellow;
    float:left;
    
   }
nav li {
	list-style-type:none;	
	font-size:13px;
}
nav > ul > li { /* 메뉴목록 */
    height:25px;
}
nav .menu {    /* 하위메뉴 ul */
    margin-top:15px;
	padding-left:15px;
	display:none;
}
nav .menu li {  /* 하위메뉴 li */
	height:20px;
}
 img{
 	padding:55px;
	padding-left:40px;
	padding-top:40px;
	}
	#logo
nav #start_menu{
	margin-top:60px;
	
}
#right {
    float:left;
    width:910px;
    margin-left:300px;
   }
section {
    width:900px;
    background:blue;
   }
footer {
    width:900px;
    height:250px;
    background:red;
   }