@charset "UTF-8";

body {
	width:1210px;	
	margin:0px; 
}
nav {
    width:300px;
    height:900px;
    float:left;
    position:fixed; /* #right가 왼쪽으로 붙는다 */
   }
nav #logo {
	font-size:26px; /* 로고 글자크기 */
	margin-left:40px; /* 로고 왼쪽부터 공간 */
	margin-top:40px;  /* 로고 상단부터 공간 */
}
nav #start_menu{
	margin-top:60px;
}
nav li {
	list-style-type:none;	
	font-size:13px;
}
nav > ul > li { /* 메뉴목록 */
    height:25px;
}
nav .menu {    /* 하위메뉴 ul */
    margin-top:15px;
	padding-left:15px;
	display:none;
}
nav .menu li {  /* 하위메뉴 li */
	height:20px;
}
#right {  /* 오른쪽 변화되는 부분을 차지*/
    float:left;
    width:910px;
    margin-left:300px; /* 왼쪽부터 300px 오른쪽으로 */
   }
section {
    width:900px;
}
.index_section {  /* index.jsp에서만 배경그림이 존재 */
    background-image:url("../main/img/main.jpg");
    background-attachment:fixed;
    height:900px;
   }
.login_section {       /* login.jsp */
	height:900px;
}
.login_section #userid {
	width:250px;
	height:30px;
	border:1px solid #cccccc;
	display:flex;
	align-items:center;
	font-size:12px;
	color:#cccccc;
}
.login_section #pwd {
	width:250px;
	height:30px;
	border:1px solid #cccccc;
	display:flex;
	align-items:center;
	font-size:12px;
	color:#cccccc;
	margin-top:5px;
}
.login_section #uid {
	width:150px;
	height:20px;
	margin-left:20px;
    border:none;  
}
.login_section #pw {
	width:150px;
	height:20px;
	margin-left:8px;
    border:none;
}	
.login_section #outer {  / * 바깥선 */ 
	width:400px;
	height:80px;
}
.login_section #outer_left {   /* 아이디,패스워드 입력칸 */
	float:left;
}
.login_section #outer_right {  /* login버튼을 포함 */
	margin-left:10px;
	float:left;
}
.login_section #login {  /* 로그인버튼모양 만들기 */
	width:100px;
	height:70px;
	background:black;
	border:1px solid black;
	color:white;
	font-weight:900;  /* 100~900 */
}
.login_section #third {
	font-size:12px;
	width:400px;
	height:30px;
} 
.login_section #fourth {
	font-size:12px;
	width:400px;
	height:30px;
}
.login_section #fifth {  /* 네이버,페이스북,카카오*/
	width:400px;
	margin-top:20px;
}
.login_section #fifth span { /* 공통부분 */
	display:inline-block;
	width:105px;
	height:25px;
	border:none;
	border-radius:6px;
	color:white;
	font-size:12px;
	padding-left:13px;  /* 글자를 중앙에 위치 */
	padding-top:15px;
}
.login_section #fifth span:nth-child(1) {  /* 다른부분 */
	background:#00c63b;
}
.login_section #fifth  span:nth-child(2) {
	background:#536fac;
}
.login_section #fifth span:nth-child(3) {
	background:#fdeb1d;
}
.login_section #sixth {
	width:360px;
	margin-top:50px;
}
.login_section #sixth #sixth_left {  /* 글자가 들어있는 div */
	float:left;
	font-size:12px;
}
.login_section #sixth #sixth_right { /* 버튼이 들어있는 div */
	float:right;
}
.login_section #sixth #sixth_right button { /* 버튼 */
	background:black;
	color:white;
	border:none;
	height:22px;
}
footer {
    width:900px;
    height:350px;
    margin-top:50px;
 
}
   
   
   
   
   
   
   
   
   
   
   
   