@charset "UTF-8";

body {
	width:1210px;	
	margin:0px; 
}
nav {
    width:300px;
    height:900px;
    float:left;
    position:fixed; /* #right가 왼쪽으로 붙는다 */
   }
nav #logo {
	font-size:26px; /* 로고 글자크기 */
	margin-left:40px; /* 로고 왼쪽부터 공간 */
	margin-top:40px;  /* 로고 상단부터 공간 */
}
nav #start_menu{
	margin-top:60px;
}
nav li {
	list-style-type:none;	
	font-size:13px;
}
nav > ul > li { /* 메뉴목록 */
    height:25px;
}
nav .menu {    /* 하위메뉴 ul */
    margin-top:15px;
	padding-left:15px;
	display:none;
}
nav .menu li {  /* 하위메뉴 li */
	height:20px;
}
#right {  /* 오른쪽 변화되는 부분을 차지*/
    float:left;
    width:910px;
    margin-left:300px; /* 왼쪽부터 300px 오른쪽으로 */
   }
section {
    width:900px;
    background:blue;
   }
footer {
    width:900px;
    height:250px;
    background:red;
   }